@import "tailwindcss";

@layer base {
  :root {
    --font-play: "Play", sans-serif;
  }

  .font-play {
    font-family: var(--font-play);
  }
  .font-roboto {
    font-family: var(--font-roboto);
  }
}
